$fs-1: 1.1rem;
$fs-2: 1.2rem;
$fs-3: 1.3rem;
$fs-4: 1.4rem;
$fs-5: 1.5rem;
$fs-6: 1.6rem;
$fs-7: 1.7rem;
$fs-8: 1.8rem;
$fs-9: 1.9rem;
$fs-10: 2rem;
$fs-11: 2.2rem;
$fs-12: 2.8rem;
$fs-13: 3.4rem;
$fs-14: 5rem;
$fs-15: 8rem;


$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

$ff: 'SF Pro Display', serif;

// colors

$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$field: rgba(234, 237, 243, 1);
$primary: rgba(45, 116, 255, 0.15);
$error: rgba(255, 45, 45, 0.1);
$system: rgba(54, 70, 99, 1);
$blue: rgba(45, 116, 255, 1);
$red: rgba(255, 45, 45, 1);
$disabled: rgba(54, 70, 99, 0.6);
$gray: rgba(150, 166, 194, 1);
$white_0_5: rgba(255, 255, 255, 0.5);
$dark: rgba(38, 38, 38, 1);
$load-light: rgba(249, 251, 255, 1);
$load-black: rgba(46, 46, 46, 1);
$load-dark: rgba(34, 34, 34, 1);
$background: rgba(235, 237, 240, 1);
$gray-light: rgba(150, 166, 194, 0.2);
$black-medium: rgba(0, 0, 0, 0.3);
$gray-medium: rgba(150, 166, 194, 0.4);
$tabbar: rgba(249, 249, 249, 0.94);
$gray-dark: rgba(62, 62, 62, 1);
$black-light: rgba(0, 0, 0, 0.1);
$load-black_0_05: rgba(255, 255, 255, 0.05)